/* 

INDHOLDSFORTEGNELSE 

1.VARIABEL
2.START
3.FOOTER
4.BURGER MENU
5.NAVBAR
6.LAYOUT
7.VIDEO 
8.SPIL 

MEDIA HELVEDE
  DESKTOP
  LAYOUT
  BURGER BØRN BILLEDER 
  NAVBAR
  KNAP, SPIL & VIDEO 
  CHARACTER WIDTH

*/

/**************  1.VARIABEL ****************/
:root {
  --blue: blue;
  --white: white;
}

/**************  VARIABEL END ****************/
/**************  2. START ****************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--white);
  top: 0;
  left: 0;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
}

h1{
  font-size: 2em;
  color: var(--white);
  font-family: "Tinos", serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.forsidewrapper{
  height: 50vh;
  margin: 0 auto;
}
/**************  START END ****************/
/**************  3.FOOTER ****************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 0.75em;
  color: var(--blue);
  background-color: var(--white);
  padding: 20px;
  margin-top: auto;
}

/**************  FOOTER END ****************/
/**************  4.BURGER MENU ****************/

.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);

  width: 100%;
  height: 3px;
  background-color: var(--blue);
  border-radius: 10px;
  transition: transform 1s;
}
.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  border-radius: 10px;
  transition: transform 1s;
}
.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}
/************** BURGER MENU ****************/
/************** 5.NAVBAR ****************/

navbar ul li img {
  visibility: hidden;
  width: 0%;
}

.navbar {
  margin: 0;
  width: 100%;
  background-color: var(--white);
  height: auto;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-direction: column;

}

.navbar .navbarLinks {
  position: fixed;
  top: 48.5px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.navbar .navbarLinks.aktiv {
  display: block;
  background-color: var(--blue);
}

.navbar .navbarLinks li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Tinos", serif;
  font-size: 1.5em;
}

.navbar .navbarLinks li a:hover {
  color:rgba(0, 0, 255, 0.486);
}

.bla{
  padding: 1.5rem;
}

.hvid{
  padding: 1.5rem;
}

/************** NAVBAR END ****************/
/************** 6.LAYOUT ****************/

.hrtext{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

 .hr1, .hr2 {
  content: "";
  background-color: var(--white);
  width: 100vw;
  height: 2px;
  margin-inline: 1rem;
  margin-top: 25px;
}


#sectioncolor {
  background-color: var(--blue);
  padding: 0px;
}

.sectionwrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.sectionwrapper img{
  width: 100%;
}

h2 {
  color: var(--white);
  font-family: "Tinos", serif;
  text-align: center;
  font-size: 1em;
  padding: 20px;
}

.colmumn_left {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
}

.column_text p {
  color: var(--white);
  padding: 20px;
}

.logo {
  color: var(--blue);
  font-family: "Tinos", serif;
  font-size: 0.75em;
  text-align: left;
}

.knap {
  display: flex;
  justify-content: center;
}

.knap a {
  color: var(--white);
  text-align: center;
}

.knap a:hover {
  color:rgba(255, 255, 255, 0.527);
}

img {
  width: 0%;
  padding: 0px 20px;
}


.button {
  display: flex;
  background-color: var(--blue);
  padding: 0.5rem 3rem;
  border: solid 2px var(--white);
  margin: 10px;
}


.button_2 {
  display: flex;
  background-color: var(--blue);
  padding: 0.5rem 3rem;
  border: solid 2px var(--white);
  margin: 10px;
}


/************** LAYOUT END ****************/
/************** 7.VIDEO ****************/
.interview {
  object-fit: cover;
  display: flex;
  aspect-ratio: 16 / 9;
  max-width: 80vw;
  max-width: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.column_left_interview{
  object-fit: cover;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  margin: 0 auto;
}

video{
  width: 100%;
}
/************** VIDEO END ****************/
/************** 8.SPIL ****************/

.sectioncolor_spil{
  display: none;
}
/************** SPIL END ****************/



/************** MEDIA HELVEDE ****************/
@media (min-width: 768px) {
  /************** DESKTOP ****************/
  .navbar ul {
    flex-direction: row;
    height: 38vh;
  }

  .burgerButton {
    display: none;
  }

  img {
  width: 100%;
  padding: 0px 20px;
  }

  h1{
  font-size: 6em;
  }

  .navbar .navbarLinks {
    position: static;
    width: 100vw;
    height: auto;
    display: block;
  }


  .navbar .navbarLinks li a {
  text-decoration: none;
  color: var(--blue);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  }
  .navbar .navbarLinks.aktiv {
  text-decoration: none;
  background-color: var(--white);
  }
  /************** DESKTOP END ****************/
  /************** LAYOUT ****************/

  .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
  }

  header navbar {
  padding: 40px;
  } 

  navbar a {
  color: var(--blue);
  padding: 0px 10px;
  line-height: 3;
  }

  .hr1, .hr2 {
    margin-inline: 7em;
  }
  /************** LAYOUT END ****************/
  /************** BURGER BØRN BILLEDER ****************/
  navbar ul li img {
    visibility: visible;
    width: 100%;
  }

  navbar ul li:first-child{
    display: flex;
  }
  navbar ul li:first-child img{
    width: 5rem;
  }

  navbar ul li:nth-child(2){
    display: flex;
  }
  navbar ul li:nth-child(2) img{
    width: 5rem;
  }

  navbar ul li:nth-child(3){
    display: flex;
  }
  navbar ul li:nth-child(3) img{
    width: 5rem;
  }

  navbar ul li:nth-child(4){
    display: flex;
  }
  navbar ul li:nth-child(4) img{
    width: 5rem;
  }

  navbar ul li:nth-child(5){
    display: flex;
  }
  navbar ul li:nth-child(5) img{
    width: 5rem;
  }

  nanavbarv ul li:last-child{
    display: flex;
  }
  navbar ul li:last-child img{
    width: 5rem; 
  }
  /************** BURGER BØRN END ****************/
  /************** NAVBAR ****************/
  .bla {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .hvid{
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .navbarLinks li .bla a {
    color: var(--white);
  }
  .navbar .navbarLinks li .bla a:hover {
    color: var(--white);
  }

  .navcolor {
      background-color: var(--white);
    }

  .navcolor li a {
      color: var(--blue);
    }

  .portfoliologo{
    margin-bottom: auto;
    display: block;

  }
  /************** NAVBAR END ****************/
  /************** KNAP, SPIL & VIDEO ****************/
  .knap {
    display: flex;
    justify-content: left;
    padding-left: 10px;
  }

  .sectioncolor_spil{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--blue);
  }

  .spilwrapper{
    margin: 0 auto;
  }

  #iframe_spil{
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
    width: 100vh;
    height: 450px;
  }

  .column_left_interview{
    padding-right: 30px;
  }

}
/************** KNAP, SPIL & VIDEO END  ****************/
/************** CHARACTER WIDTH  ****************/
@media (min-width: 1000px) {
  p{
    width: 60ch;
}
/************** CHARACTER WIDTH  ****************/
}
/************** MEDIA HELVEDE END ****************/