/* INDHOLDSFORTEGNELSE */

/* 

.BURGERMENU
.LAYOUT
.FOOTER 

*/

/* ////////// BURGER MENU ///////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
  top: 0;
  left: 0;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
}

h1{
  font-size: 2em;
  color: white;
  font-family: "Tinos", serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.forsidewrapper{
  height: 50vh;
  margin: 0 auto;
}


/* ////////// FOOTER ///////// */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 0.75rem;
  color: blue;
  background-color: white;
  padding: 20px;
  margin-top: auto;
}

/* ////////// FOOTER END ///////// */
/* ////////// BURGER MENU ///////// */


.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 100;
}



.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);

  width: 100%;
  height: 3px;
  background-color: blue;
  border-radius: 10px;
  transition: transform 1s;
}
.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: blue;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: blue;
  border-radius: 10px;
  transition: transform 1s;
}
.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}

/************** Navbar ****************/

navbar ul li img {
  visibility: hidden;
  width: 0%;
}

.navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  height: auto;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
position: sticky;
  list-style: none;
  flex-direction: column;

}

.navbar .navbarLinks {
  position: fixed;
  top: 48.5px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.navbar .navbarLinks.aktiv {
  display: block;
  background-color: blue;
}

.navbar .navbarLinks li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
  font-family: "Tinos", serif;
  font-size: 1.5rem;
}

.navbar .navbarLinks li a:hover {
  color:rgba(0, 0, 255, 0.486);
}
/* ////////// BURGER MENU END ///////// */

/* ////////// LAYOUT ///////// */

.hrtext{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

 .hr1, .hr2 {
  content: "";
  background-color: white;
  width: 472px;
  height: 2px;
  margin-inline: 1rem;
  margin-top: 25px;

}

#sectioncolor {
  background-color: blue;
  padding: 0px;
}

.sectionwrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sectionwrapper img{
width: 100%;
}

h2 {
  color: white;
  font-family: "Tinos", serif;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
}

.colmumn_left {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
}

.column_text p {
  color: white;
  padding: 20px;
}

.logo {
  color: blue;
  font-family: "Tinos", serif;
  font-size: 0.75rem;
  text-align: left;
}

.knap {
  padding: 2em;
}

.knap a {
  color: white;
}

.knap1 {
  margin: 1em;
}

.knap2 {
  margin: 1em;
}

img {
  width: 0%;
  padding: 0px 20px;
}


button {
  display: flex;
  background-color: blue;
  padding: 0.5rem 3rem;
  border: solid 2px white;
}

/* ////////// LAYOUT END ///////// */

.interview {
  object-fit: cover;
  display: flex;
  aspect-ratio: 16 / 9;
  max-width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

.column_left_interview{
  object-fit: cover;
  display: flex;
  aspect-ratio: 16 / 9;
  max-width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

video{
  width: 100%;
}

.sectioncolor_spil{
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: blue;
}

.spilwrapper{
  margin: 0 auto;
  width: ;
}

#iframe_spil{
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  width: 100vh;
  height: 800px;
}


/* ////////// MEDIA HELVEDE ///////// */
@media (min-width: 768px) {
  /* DESKTOP VERSION */
  .navbar ul {
    flex-direction: row;
    height: 40vh;
  }

  .burgerButton {
    display: none;
  }

  img {
  width: 100%;
  padding: 0px 20px;
  }

  h1{
  font-size: 6rem;
  }

  .navbar .navbarLinks {
    position: static;
    width: 100vw;
    height: auto;
    display: block;
  }


  .navbar .navbarLinks li a {
  text-decoration: none;
  color: blue;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding: 2rem;
  display: flex;
  justify-content: center;
  }
  .navbar .navbarLinks.aktiv {
  text-decoration: none;
  background-color: white;
  }

  .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
/* ////////// BURGER BØRN BILLEDER ///////// */
navbar ul li img {
  visibility: visible;
  width: 100%;
}

navbar ul li:first-child{
  display: flex;
}
navbar ul li:first-child img{
  width: 5rem;
}

navbar ul li:nth-child(2){
  display: flex;
}
navbar ul li:nth-child(2) img{
  width: 5rem;
}

navbar ul li:nth-child(3){
  display: flex;
}
navbar ul li:nth-child(3) img{
  width: 5rem;
}

navbar ul li:nth-child(4){
  display: flex;
}
navbar ul li:nth-child(4) img{
  width: 5rem;
}

navbar ul li:nth-child(5){
  display: flex;
}
navbar ul li:nth-child(5) img{
  width: 5rem;
}

nanavbarv ul li:last-child{
  display: flex;
}
navbar ul li:last-child img{
  width: 5rem; 
}

header navbar {
  padding: 40px;
} 

navbar a {
color: blue;
padding: 0px 10px;
line-height: 3;

}

.bla {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navbarLinks li .bla a {
  color: white;
}
.navbar .navbarLinks li .bla a:hover {
  color: white;
}

.navcolor {
    background-color: white;
  }

.navcolor li a {
    color: blue;
  }

  .portfoliologo{
    margin-bottom: auto;
    display: block;

  }
.knap {
  display: flex;
}

}

@media (min-width: 1000px) {
  p{
    width: 60ch;
}



}
/* ////////// MEDIA HELVEDE END ///////// */
